{% extends 'base.html' %}

{% load static i18n compress kutub %}

{% block content %}

<div class="container">
  <div class="float-right">
    {% if perms.kutub.add_manuscript %}
    <a href="{% url 'kutub:manuscript-create'  %}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="Add Manuscript">
      <i class="fas fa-plus"></i>
    </a>
    {% endif %}
  </div>

  <h2>Manuscripts</h2>

  <div>
    <span>Quick search</span>
    <input type="text" id="manuscript-search" class="form-control w-120" placeholder="Search..."/>
  </div>    

  <div id="manuscript-manage-grid" class="ag-theme-quartz w-100" style="height:800px; margin-top: 3em"></div>  

  <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
  <script type="module">
      import {setupManuscriptList} from '{% static "kutub/js/manuscript_list.js" %}';
      const manuscripts = [
        {% for manuscript in object_list %}
        {          
          "heading": '<a href="{{ manuscript.get_absolute_url }}">{{ manuscript }}</a>',
          "identifier": "{{manuscript.alt_identifier}}",
          "repository": '<a href="{{ manuscript.repository.get_absolute_url }}">{{ manuscript.repository }}</a>',
          "source": "{{manuscript.url}}"
        },
        {% endfor %}
      ]
      setupManuscriptList(manuscripts);
  </script>

</div>

{% endblock %}