{% extends 'base.html' %}

{% load sekizai_tags static i18n compress publication_extras kutub cms_tags %}


{% block content %}

{% addtoblock "css" %}
{% include "kutub/detail_css.html" %}
{%endaddtoblock %}

<div class="container">

  <div class="float-right">
    {% if perms.kutub.add_manuscript %}
    <a href="{% url 'kutub:manuscript-create'  %}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="Add Document">
      <i class="fas fa-plus"></i>
    </a>
    {% endif %}
    {% if perms.kutub.update_manuscript %}
    <a href="{{ manuscript.get_absolute_update_url }}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="Edit Document">
      <i class="fas fa-edit"></i>
    </a>
    {% endif %}
    {% if request.user.is_staff %}
    <a href="{% url 'admin:kutub_manuscript_change' manuscript.id %}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="Admin">
      <i class="fas fa-tools"></i>
    </a>
    {% endif %}
    {% if manuscript.prev_in_order %}
    <a href="{{ manuscript.prev_in_order.get_absolute_url }}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="{{ manuscript.prev_in_order }}">
      <i class="fas fa-arrow-left"></i>
    </a>
    {% endif %}
    {% if manuscript.next_in_order %}
    <a href="{{ manuscript.next_in_order.get_absolute_url }}" class="btn btn-outline-primary btn-sm chk-saved"
      data-toggle="tooltip" data-placement="bottom" title="{{ manuscript.next_in_order }}">
      <i class="fas fa-arrow-right"></i>
    </a>
    {% endif %}
  </div>

  <h1>{{ manuscript }}</h1>

  <details open class="mt-5">
    <summary ><span>MS. Details</span></summary>
    <div class="row">
      {% grid_attribute manuscript "heading"  cols=6  %}
      {% grid_attribute manuscript "identifier"  cols=3  %}
      {% grid_attribute manuscript "alt_identifier"  cols=3  %}
    </div>      
    <div class="row">
      {% grid_attribute manuscript "repository"  cols=6 url=manuscript.repository.get_absolute_url %}
      {% grid_attribute manuscript.repository "location_description"  cols=3  %}
      {% grid_attribute manuscript.repository "settlement"  cols=3  %}
    </div>

    <div class="row">

      {% if manuscript.repository.has_coords %}
      <h3>Location</h3>
      {% include 'kutub/repository_map_iframe.html' with repository=manuscript.repository %}
      {% endif %}   
      
      {% if manuscript.iiif_manifest_url %}
      <h3>IIIF Presentation</h3>
      <iframe src='{% url "kutub:manuscript-iiif" slug=manuscript.slug %}' style="width: 100%; height: 450px;">
        {{ manuscript }}
      </iframe>
      {% endif %}
    </div>        
  </details>

  <hr>
  <details open>
    <summary ><span>Contents</span></summary>
    <div class="row">
      {% grid_attribute manuscript "content_summary" cols=12  blanktext="—" %}
    </div>
  
      {% for item in manuscript.contentitem_set.all %}
      <div class="card">
        <div class="card-body">
          <div class="row">
            {% grid_attribute item "title" cols=6 %}
            {% grid_attribute item "summary" cols=6 %}
          </div>
          <div class="row">            
            {% grid_attribute item "locus_description" cols=4 %}
            <div class="col">
              {{ item.folio_range }}
            </div>
            {% grid_attribute item "defective" cols=2 %}
          </div>
          <div class="row">
            {% grid_attribute item "author" cols=6 %}
            {% grid_attribute item "responsibility_statement" cols=6 %}
          </div>
          <div class="row">
            {% grid_attribute item "rubric" cols=6 %}
            {% grid_attribute item "incipit" cols=6 %}
          </div>
          <div class="row">
            {% grid_attribute item "final_rubric" cols=6 %}
            {% grid_attribute item "explicit" cols=6 %}
          </div>
          <div class="row">
            {% grid_attribute item "quote" cols=6 %}
            {% grid_attribute item "colophon" cols=6 %}
          </div>
          <div class="row">
            {% grid_attribute item "deco_note" cols=6 %}
            {% grid_attribute item "filiation" cols=6 %}
          </div>
          <div class="row">
            {% grid_attribute item "note" cols=12 %}
          </div>
        </div>
      </div>      
      {% endfor %}
  </details>
  <hr>
  <details open>
    <summary ><span>Physical Description</span></summary>
    <div class="row">
      {% grid_attribute manuscript "support_description" header="Support" %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "extent_numeric" %}
      {% grid_attribute manuscript "extent_description"  %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "dimensions_description" header="Dimensions"  %}
      {% grid_attribute manuscript "height" suffix="mm" cols=3 %}
      {% grid_attribute manuscript "width" suffix="mm" cols=3 %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "collation"  %}
      {% grid_attribute manuscript "catchwords"  %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "signatures"  %}
      {% grid_attribute manuscript "foliation"  %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "layout" %}
      {% grid_attribute manuscript "hand_description" %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "decoration_description"  %}
      {% grid_attribute manuscript "music_notation"  %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "binding_description"  %}
      {% grid_attribute manuscript "seal_description" %}        
    </div>       
  </details>

  <hr>
  <details open>
    <summary ><span>History</span></summary>
    <div class="row">
      {% grid_attribute manuscript "origin"  %}
      {% grid_attribute manuscript "origin_place"  %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "origin_date_description" %}
      {% grid_attribute manuscript "origin_date_earliest" cols=3 %}
      {% grid_attribute manuscript "origin_date_latest" cols=3 %}
    </div>
    <div class="row">
      {% grid_attribute manuscript "provenance"  %}
      {% grid_attribute manuscript "acquisition"  %}
    </div>

  </details>

  <hr>
  <details open>
    <summary ><span>References</span></summary>
    {% references_list manuscript %}
  </details>

  <hr>
  <details>
    <summary ><span>TEI</span></summary>
    <a href="./tei" type="button" class="btn btn-primary mb-3"><i class="fas fa-download"></i> Download TEI XML</a>
    <pre lang="xml" class="xml">{{manuscript.xml_pretty_print}}</pre>
  </details>

</div>


{% endblock %}